node_modules
debug
debug/aaablue_player0_Test.png
debug/aaablue_player1_Test.png
debug/aaablue_player2_Test.png
debug/aaablue_player3_Test.png
debug/aaablue_player4_Test.png
debug/aaared_player0_Test.png
debug/aaared_player1_Test.png
debug/aaared_player2_Test.png
debug/aaared_player3_Test.png
debug/aaared_player4_Test.png
debug/bbbblue_player0_Test.png
debug/bbbblue_player1_Test.png
debug/bbbblue_player2_Test.png
debug/bbbblue_player3_Test.png
debug/bbbblue_player4_Test.png
debug/bbbred_player0_Test.png
debug/bbbred_player1_Test.png
debug/bbbred_player2_Test.png
debug/bbbred_player3_Test.png
debug/bbbred_player4_Test.png
debug/blue_player0_HeroName_temp.png
debug/blue_player0_PlayerName_temp.png
debug/blue_player0_PlayerNameTest.png
debug/blue_player1_HeroName_temp.png
debug/blue_player1_PlayerName_temp.png
debug/blue_player1_PlayerNameTest.png
debug/blue_player2_HeroName_temp.png
debug/blue_player2_PlayerName_temp.png
debug/blue_player2_PlayerNameTest.png
debug/blue_player3_HeroName_temp.png
debug/blue_player3_PlayerName_temp.png
debug/blue_player3_PlayerNameTest.png
debug/blue_player4_HeroName_temp.png
debug/blue_player4_PlayerName_temp.png
debug/blue_player4_PlayerNameTest.png
debug/red_player0_PlayerName_temp.png
debug/red_player0_PlayerNameTest.png
debug/red_player1_PlayerName_temp.png
debug/red_player1_PlayerNameTest.png
debug/red_player2_PlayerName_temp.png
debug/red_player2_PlayerNameTest.png
debug/red_player3_PlayerName_temp.png
debug/red_player3_PlayerNameTest.png
debug/red_player4_PlayerName_temp.png
debug/red_player4_PlayerNameTest.png
