{% extends "../frame.twig.html" %}
{% block content %}
    <div class="container">
        <h1>Configuration</h1>

        <div class="form-group row">
            <label for="language" class="col-sm-3 col-form-label">
                Language
            </label>
            <div class="col">
                <select id="language" class="form-control">
                {% if gui.gameData and gui.gameData.languageOptions %}
                    {% for language in gui.gameData.languageOptions %}
                        <option value="{{ language.id }}"{% if gui.config.language == language.id %} selected{% endif %}>
                            {{ language.name }}
                        </option>
                    {% endfor %}
                {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="draftProvider" class="col-sm-3 col-form-label">
                Draft provider
            </label>
            <div class="col">
                <select id="draftProvider" class="form-control">
                    <option value="hotsdraft"{% if gui.config and gui.config.draftProvider == "hotsdraft" %} selected{% endif %}>
                        hotsdraft.com
                    </option>
                    <option value="heroescounters"{% if gui.config and gui.config.draftProvider == "heroescounters" %} selected{% endif %}>
                        heroescounters.com
                    </option>
                    <option value="heroesprofile"{% if gui.config and gui.config.draftProvider == "heroesprofile" %} selected{% endif %}>
                        drafter.heroesprofile.com
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="draftProvider" class="col-sm-3 col-form-label">
                Talent provider
            </label>
            <div class="col">
                <select id="draftProvider" class="form-control">
                    <option value="icyveins"{% if gui.config and gui.config.talentProvider == "icyveins" %} selected{% endif %}>
                        icy-veins.com
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="gameDisplay" class="col-sm-3 col-form-label">
                Target display
            </label>
            <div class="col">
                <select id="gameDisplay" class="form-control">
                    {% if gui.displays %}
                        {% for display in gui.getDisplays() %}
                            <option value="{{ display.id }}"{% if gui.config.gameDisplay == display.id %} selected{% endif %}>
                                {{ display.name }} [{{ display.width }}x{{ display.height }}]
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="playerName" class="col-sm-3 col-form-label">
                Your player name
            </label>
            <div class="col">
                <input type="text" class="form-control" id="playerName" value="{% if gui.config %}{{ gui.config.playerName }}{% endif %}" >
            </div>
        </div>
        <div class="form-group row">
            <label for="gameStorageDir" class="col-sm-3 col-form-label">
                Hots storage directory
            </label>
            <div class="col">
                <input type="text" class="form-control" id="gameStorageDir" value="{% if gui.config %}{{ gui.config.gameStorageDir }}{% endif %}" >
            </div>
        </div>
        <div class="form-group row">
            <label for="gameTempDir" class="col-sm-3 col-form-label">
                Hots temp directory
            </label>
            <div class="col">
                <input type="text" class="form-control" id="gameTempDir" value="{% if gui.config %}{{ gui.config.gameTempDir }}{% endif %}" >
            </div>
        </div>
        <div class="form-group row">
            <label for="googleBigQueryProject" class="col-sm-3 col-form-label">
                Google BigQuery project id
            </label>
            <div class="col">
                <input type="text" class="form-control" id="googleBigQueryProject" value="{% if gui.config %}{{ gui.config.googleBigQueryProject }}{% endif %}" >
            </div>
        </div>
        <div class="form-group row">
            <label for="googleBigQueryAuth" class="col-sm-3 col-form-label">
                Google BigQuery authentification file (for HotsApi.net data access)
            </label>
            <div class="col">
                <input type="text" class="form-control" id="googleBigQueryAuth" value="{% if gui.config %}{{ gui.config.googleBigQueryAuth }}{% endif %}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                Automatic replay upload
            </label>
            <div class="col">
                <div class="form-check pt-2">
                    <input class="form-check-input" type="checkbox" id="uploadProvider_hotsapi"{% if gui.config and gui.config.uploadProvider_hotsapi %} checked{% endif %} />
                    <label class="form-check-label" for="uploadProvider_hotsapi">
                        Upload replays to hotsapi.net
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="gameImproveDetection" class="col-sm-3 col-form-label">
                Improve detection
            </label>
            <div class="col">
                <div class="form-check py-2">
                    <input class="form-check-input" type="checkbox" id="gameImproveDetection"{% if gui.config and gui.config.gameImproveDetection %} checked{% endif %} />
                    <label class="form-check-label" for="gameImproveDetection">
                        Submit images of player- and hero-names to improve the text recognition
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="debugEnabled" class="col-sm-3 col-form-label">
                Debug output
            </label>
            <div class="col">
                <div class="form-check py-2">
                    <input class="form-check-input" type="checkbox" id="debugEnabled"{% if gui.config and gui.config.debugEnabled %} checked{% endif %} />
                    <label class="form-check-label" for="debugEnabled">
                        Enable debugging output to the console and file system
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <div class="col-sm-3"></div>
            <div class="col">
                <button id="saveConfigButton" class="btn btn-primary">
                    Save Configuration
                </button>
            </div>
        </div>
    </div>
{% endblock %}